.guest-list-page{
  .searchTableStyle{
    display: flex;
    //border:1px solid red;
  }
  .infoBorderStyle{
    //border:1px solid red;

  }
  .infoTitleStyle{
    width: 100%;
    //border:1px solid salmon;
    font-size: 1.4rem;
    color: black;
    text-align: center;
  }
  .infoCheckBorderStyle{
    //border:1px solid sandybrown;
    width: 100%;
    text-align: center;
    height: 4rem;
    display: flex;
  }
  .cheAddStyle{
    width: 12rem;
    height: 3rem;
    margin-top: 0.5rem;
    float: right;
    margin-right: 7rem;
  }
  .cheBorderForInfoStyle{
    width: 35rem;
    //border:1px solid red;
    display: flex;
    height: 100%;
    line-height: 4rem;
    margin-left: 21rem;
  }
  .cheTit{
    width: 3rem;
    //border:1px solid seagreen;
  }
  .chePhoneStyle{
    margin-left: 0rem;
  }
  .cheIoStyle{
    //border:1px solid darkmagenta;
    width: 3rem;
    line-height: 4rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    margin-left: 0rem;
  }
  .infoMemberBorderStyle{
    //border:1px solid seagreen;
    display: flex;
    width: 100%;
    //height: 12rem;
    margin-top: 2rem;
    border-bottom: 1px solid #e0e6ed;
    border-top: 1px solid #e0e6ed;
    padding: 3rem 0 3rem 0;
  }
  .memberHeadStyle{
    //border:1px solid goldenrod;
    width: 7rem;
    margin-left: 5rem;
  }
  .memberImage{
    width: 6rem;
    height: 6rem;
    display: inline-block;
    //border:1px solid salmon;
    border-radius: 50%;
    margin-top: 2rem;
  }
  .memberInfoStyle{
    //border:1px solid navajowhite;
    width: 40rem;
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    margin-left: -20rem;
  }
  .memberInfoFirst{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 3rem;
    text-align: center;
    //border:1px solid fuchsia;
    //text-align: center;
    //align-items: center;
  }
  .memberInfoLast{
    width: 100%;
    align-items: flex-start;
    padding-left: 1rem;
  }
  .memberInfoName{
    display: flex;
    flex-direction: row;
    //margin: 0 auto;
    line-height: 3rem;
    //border:1px solid salmon;
    width: 50%;
  }
  .magRig{
    margin-left: 7rem;
  }
  .memberInfoForName{
    //border:1px solid darkkhaki;
    //width: 4rem;
    width: 30%;
    text-align: left;
  }
  .cheThisPointStyle{
    //border:1px solid forestgreen;
    border-bottom: 3px solid blue;
  }
  .memberInfoForRole{
    //border:1px solid lawngreen;
    width: 70%;
    text-align: left;
  }
  .titForPointStyle{
    margin-bottom: 0.5rem;
  }
  .backTitForPointStyle{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
  }
}
